// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.back1{
	background-image: url("download.jpg");
	font-size: 10px;
}

.test{

	margin: 10px;
}