<ul class="nav nav-tabs" role="tablist">

<h1>Listing Lib</h1>
 <%= link_to 'New Library', new_lib_path,class: 'btn btn-success' %>
<table class="table table-bordered table-hover table-striped">
  <tr>
    <th>Title</th>

  </tr>
 
  <% @libs.each do |lib| %>
    <tr>
      <td><%= lib.name %></td>
      <td><%= link_to 'Show Books', lib_books_path(lib,@lib), class: 'btn btn-primary btn-xs' %></td>
    </tr>
  <% end %>
</table>