<h1>Listing Lib</h1>
 <%= link_to 'New Library', new_lib_path %>
<table>
  <tr>
    <th>Title</th>

  </tr>
 
  <% @libs.each do |lib| %>
    <tr>
      <td><%= lib.name %></td>
      <td><%= link_to 'Show Books', lib_books_path(lib) %></td>
    </tr>
  <% end %>
</table>