<%= form_for :lib , url: libs_path do |f| %>

<h1> Create </h1>

<table>
	<tr>
		<td><%= f.label :Name %></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>

		<td><%= f.submit %></td></tr>
		<% end %>
		</table>
